<div class="padding"></div>
<h2 class="text-center">Proveedores</h2>
<div class="container">
  <div class="row" id="respuesta">
    <%= render @services%>
  </div>

<div class="card text-center">
  <div class="card-body">
  <%= form_with(url: services_search_path, method: 'POST', local:true) do |f|%>
  <%= f.label :search %>
  <%= f.text_field :search%>
  <%= f.submit 'Buscar'%>
  <% end %>
  </div>
</div>

<div class="card text-center">
  <div class="card-body">
  <label for="">Buscar:</label>
  <input type="text" id="buscador">

  </div>
</div>
</div>

<script>
  $('#buscador').keyup(function () {
    var searchQuery = $('#buscador').val();
    $.ajax({
      type: "GET",
      url: "<%= todo_services_path(@todo) %>",
      data: { buscador: searchQuery }
    });
  });
</script>
