<h1 class="text-center">Index#Services</h1>
<div class="container">
  <div class="row">
      <% @services.each do |service|%>
    <div class="card col-sm-4 text-center p-3">
        <a href="<%= service_path(service) %>"><img src="<%= asset_path service.photo %>" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title"><%= service.name %></h5>
          <p class="card-text"><%= service.detail%></p>
            <% if !current_user.favourites.pluck(:service_id).include? service.id %>
          <%=link_to 'Me encanta!', service_favourites_path(service), class: 'btn btn-primary', method: :post%>
          <% else %>
          <%=link_to 'Ya no me gusta', service_favourites_path(service), class: 'btn btn-primary', method: :post%>
          <%end%>
        </div>
    </div>
      <% end %>
  </div>
</div>
