<h1 class="text-center">Ingresa tu servicio</h1>
<div class="text-center">
  <%=form_with(model: @service, local: true) do |f|%>
  
    <div class="field">
      <%=f.label :name%>
      <%=f.text_field :name%>
    </div>

    <div class="field">
      <%=f.label :detail%>
      <%=f.text_area :detail%>
    </div>

    <div class="field">
      <%=f.label :price%>
      <%=f.number_field :price%>
    </div>

    <div class="field">
      <%=f.label :photo%>
      <%=f.text_field :photo%>
    </div>

    <div class="field">
      <%=f.label :address%>
      <%=f.text_field :address%>
    </div>

    <div class="field">
      <%=f.label :region%>
      <%=f.select :region, @regions_for_select, prompt: 'Selecciona una Región' %>
    </div>

    <div class="field">
      <%=f.label :todo_id%>
      <%= f.select :todo_id, @todos_for_select, prompt: 'Selecciona una Categoria' %>
    </div>

    <div class="actions">
      <%=f.submit%>
    </div>
  <% end %>
</div>