<h1 class="text-center">Ingresa tu servicio</h1>

<div class="text-center">
<%=form_with(model: @service) do |f|%>
  <div class="field">
<%=f.label :name%>
<%=f.text_field :name%>
</div>
    <div class="field">
<%=f.label :detail%>
<%=f.text_area :detail%>
    </div>
<div class="field">
<%=f.label :price%>
<%=f.number_field :price%>
</div>
<div class="field">
<%=f.label :photo%>
<%=f.text_field :photo%>
</div>
<div class="actions">
<%=f.submit%>
</div>
<%end%>
</div>