<div class="padding"></div> 
<h1 class="text-center"><b>Datos de <%= @service.name%></b></h1>
<div class="container pt-5">

  <blockquote class="generic-blockquote">
	  <div class="text-center"> "<%= @service.detail%>" </div> 
	</blockquote>
  <table class="table">
    <thead class="table">
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Región</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @service.purveyor.name%></td>
        <td><%= @service.address%></td>
        <td><%= @service.region.name%></td>
        <td><%= @service.purveyor.phone%></td>
        <td><%= @service.purveyor.email%></td>
        <td><%= @service.todo.name%></td>
      </tr>
    </tbody>
  </table>
<%=form_with(url: service_score_path(@service), local: true) do |f|%>
<%= select_tag :score, options_for_select([ "1", "2", "3","4","5"]),  {prompt:
'Seleccione nota del servicio', class:'nice-select'} %>
<%=f.submit class: 'genric-btn success circle'%>
<%end%>
</div>