
	<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="col menu-left">
								<a href="#">+569 234 654 953</a>
								<a href="#">matrifeliz@gmail.com</a>
							</div>
							<div class="col-3 logo">
								<img class="mx-auto" src="<%= asset_path 'MatriFeliz08.png' %>" alt="">
              </div>
							 <nav class="col navbar navbar-expand-md justify-content-end">

							  <!-- Toggler/collapsibe Button -->
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
							    <span class="lnr lnr-menu"></span>
							  </button>

							  <!-- Navbar links -->
							  <div class="collapse navbar-collapse menu-right" id="collapsibleNavbar">
							    <ul class="navbar-nav">
                      <% if purveyor_signed_in? %>
							      <li class="nav-item">
							        <a class="nav-link" href="<%=myservices_services_path %>" data-turbolinks="false">Hola <%= current_purveyor.name %> </a>
							      </li>
							      <li class="nav-item">
                      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>							    
                    </li>
										 <li class="nav-item dropdown">
      							  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicio</a>
        							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    			    			    <a class="dropdown-item" href="<%= mysales_services_path%>" data-turbolinks="false">Mis Ventas</a>
          							<a class="dropdown-item" href="<%= myservices_services_path%>" data-turbolinks="false">Mis servicios</a>
      							 </li>
                      <% elsif user_signed_in? %>
							      <li class="nav-item">
							        <a class="nav-link" href="<%= todos_path%>" data-turbolinks="false" >Hola  <%= current_user.name %></a>
							      </li>
                    <li class="nav-item">
                      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link'%>							      
										</li>
								   <!-- Dropdown -->
								    <li class="nav-item dropdown">
								      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								        Servicios
								      </a>
								      <div class="dropdown-menu">
								        <a href="<%= mis_compras_billings_path %>" class="dropdown-item" data-turbolinks="false">Mis compras</a>
								        <a href="<%= cart_bookings_path %>" class="dropdown-item" data-turbolinks="false">Mis reservas</a>
								        <a href="<%= info_weddings_path %>" class="dropdown-item" data-turbolinks="false">Mi matrimonio</a>
											</div>   
								    </li>
                    <% else %>
                    <li><%= link_to 'Inicia sesión', new_user_session_path, class: 'nav-link', 'data-turbolinks': false %></li>
                    <li><%= link_to 'Regístrate', new_user_registration_path, class: 'nav-link','data-turbolinks': false  %></li>
                    <% end %>							     					      
							    </ul>
							  </div>
							</nav> 
						</div>
					</div>
				</div>
			</header>