<div class="padding"></div>
<h1 class="text-center"><b>Mis compras</b></h1>
<div class="container pt-2">
  <table class="table ">
    <thead>
      <tr>
        <th>Code</th>
        <th>Fecha</th>
        <th>Proveedor</th>
        <th>Servicio</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Perfil servicio</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.billing.code %></td>
        <td><%= booking.billing.created_at.strftime('%d/%m/%y %H:%M') %></td>
        <td><%= booking.service.purveyor.name%></td>
        <td><%= booking.service.name %></td>
        <td><%= booking.service.todo.name %></td>
        <td>US $ <i><%= booking.price %>,0</i></td>
        <td><%= link_to 'Perfil', service_path(booking.service.id), class: 'genric-btn info-border circle','data-turbolinks': false  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>