
			<!-- Start Header Area -->
		
			<!-- End Header Area -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
						<div class="row fullscreen align-items-center justify-content-center" style="height: 915px;">
							<div class="banner-content col-lg-12 col-md-12">
								<h1>
									Matri Feliz! <br>
									are Getting Married
								</h1>
							</div>
						</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start About Area -->
			<section class="About-area pt-100 pb-60" id="about">
				<div class="container">
					<div class="carousel-trigger">
							<div class="next-trigger"><span class="lnr lnr-arrow-right"></span></div>
							<div class="prev-trigger"><span class="lnr lnr-arrow-left"></span></div>	
						</div> 						
					<div class="active-about-carousel">
						<div class="item">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-6">
									<h1>About the <br>
									Sweet<span> Cute Bride</span></h1>
									<p>
										Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace.								
									</p>
									<p>
										While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,”
									</p>
								</div>
								<div class="col-lg-6">
									<img class="img-fluid mx-auto" src="<%= asset_path 'about.png' %>" alt="">
								</div>										
							</div>
						</div>
						<div class="item">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-6">
									<h1>About the <br>
									Handsome <span>Groom</span></h1>
									<p>
										Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace.								
									</p>
									<p>
										While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,”
									</p>
								</div>
								<div class="col-lg-6">
									<img class="img-fluid mx-auto" src="<%= asset_path 'about2.png'%>" alt="">
								</div>										
							</div>
						</div>					
					</div>					
				</div>	
			</section>
			<!-- End About Area -->
			
			<!-- Start date Area -->
			<section class="date-area">
				<div class="container">
					<div class="row justify-content-between date-section flex-row">
							<h3 class="text-white">Wedding Day :     20 March 2018 at 19.00 pm</h3>					
					</div>
				</div>	
			</section>
			<!-- End date Area -->
			
			<!-- Start gallery Area -->
			<section class="gallery-area pt-100" id="gallery">
				<div class="container-fluid">
					<div class="row headz justify-content-center">
						<div class="col-lg-8">
							<h1>Our Pre Wedding Photo Gallery</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore  et dolore magna aliqua.
							</p>							
						</div>
					</div>
					<div class="row no-padding">
						<div class="single-gallery active-gallery-carusel">
							<img class="item" src="<%= asset_path 'g1.jpg' %>" alt="">
							<img class="item" src="<%= asset_path 'g2.jpg' %>" alt="">
							<img class="item" src="<%= asset_path 'g3.jpg' %>" alt="">
							<img class="item" src="<%= asset_path 'g4.jpg' %>" alt="">
							<img class="item" src="<%= asset_path 'g5.jpg' %>" alt="">
							<img class="item" src="<%= asset_path 'g6.jpg' %>" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End gallery Area -->

			<!-- Start countdown Area -->
			<section class="countdown-area pt-100">
				<div class="container">
					<div class="row justify-content-center no-padding">
						<div class="col-lg-10">
							<div class="row clock_sec align-items-end clockdiv" id="clockdiv">
				                    <div class="col clockinner1 clockinner">
				                        <span class="days">29</span>
				                        <div class="smalltext">Days</div>
				                    </div>
				                    <div class="col clockinner clockinner1">
				                        <span class="hours">22</span>
				                        <div class="smalltext">Hours</div>
				                    </div>
				                    <div class="col counter-img">
				                    	<img src="img/counter.png" alt="">
				                    </div>
				                    <div class="col clockinner clockinner1">
				                        <span class="minutes">23</span>
				                        <div class="smalltext">Minutes</div>
				                    </div>
				                    <div class="col clockinner clockinner1">
				                        <span class="seconds">52</span>
				                        <div class="smalltext">Seconds</div>
				                    </div>

				                </div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End countdown Area -->
			
			<!-- Start information Area -->

			<section class="section-gap info-area">
				<div class="container">
					<div class="row headz justify-content-center">
						<div class="col-lg-6">
							<h1>Wedding Information</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.
							</p>							
						</div>
					</div>					
					<div class="single-info row mt-80">
						<div class="col-lg-6 col-md-12 text-center no-padding">
							<div class="info-thumb">
								<img src="<%= asset_path 'info1.jpg' %>" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 mt-60 no-padding">
							<div class="info-content">
								<h1>Main Ceremony</h1>
								<p>inappropriate behavior is often laughed off as “boys will be <br> boys,” women face higher conduct standards – especially in the <br>workplace. That’s why it’s crucial that, as women.</p>
								<div class="meta">
									<p>Date:  Friday, 20 March 2018</p>
									<p>Time:  19.00</p>
									<p>Address:  56/8, West Panthapath.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="single-info row mt-50">
						<div class="col-lg-6 col-md-12 mt-60 no-padding">
							<div class="info-content2">
								<h1>Wedding Party</h1>
								<p>inappropriate behavior is often laughed off as “boys will be <br> boys,” women face higher conduct standards – especially in the <br>workplace. That’s why it’s crucial that, as women.</p>
								<div class="meta">
									<p>Date:  Friday, 20 March 2018</p>
									<p>Time:  19.00</p>
									<p>Address:  56/8, West Panthapath.</p>
								</div>
							</div>
						</div>	
						<div class="col-lg-6 col-md-12 text-center no-padding">
							<div class="info-thumb">
								<img src="<%= asset_path 'info2.jpg' %>" class="img-fluid" alt="">
							</div>
						</div>											
					</div>
				</div>
			</section>			
			<!-- End information Area -->
			
			
			<!-- Start reservation Area -->
			<section class="reservation-area section-gap relative" id="reservation">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row headz justify-content-center">
						<div class="col-lg-6">
							<h1 class="text-white">Reservation Form</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.
							</p>							
						</div>
					</div>					
					<div class="row no-padding justify-content-center mt-40">
						<div class="col-lg-8">
							<form class="booking-form" id="myForm" action="">
							 	<div class="row">
						 			<div class="col-lg-6 d-flex flex-column mb-20">
										<input name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" class="form-control mt-20" required="" type="text">	
									</div>
									<div class="col-lg-6 d-flex flex-column mb-20">
										<input name="email" placeholder="Email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" class="form-control mt-20" required="" type="email">
									</div>								 		
							 		<div class="col-lg-6 d-flex flex-column">
										<div class="nice-select app-select form-control " tabindex="0">
											<span class="current">Meal Preferences</span>
											<ul class="list">
												<li data-value="Project you want to donate" data-display="Project you want to donate" class="option selected">Meal Preferences</li>
												<li data-value="1" class="option">Meal 1</li>
												<li data-value="2" class="option">Meal 2</li>
												<li data-value="3" class="option">Meal 3</li>
											</ul>
										</div>
							 		</div>
							 		<div class="col-lg-6 d-flex flex-column">
										<div class="nice-select app-select form-control " tabindex="0">
											<span class="current">Number of guests</span>
											<ul class="list">
												<li data-value="Project you want to donate" data-display="Project you want to donate" class="option selected">Number of guests</li>
												<li data-value="1" class="option">Number of guests 1</li>
												<li data-value="2" class="option">Number of guests 2</li>
												<li data-value="3" class="option">Number of guests 3</li>
											</ul>
										</div>
							 		</div>								 		
									<div class="col-lg-12 d-flex flex-column">
										<textarea class="form-control mt-20" name="message" placeholder="Notes" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Notes'" required=""></textarea>
									</div>
									
									<div class="col-lg-12 d-flex justify-content-center send-btn">
										<button class="submit-btn primary-btn mt-20 text-uppercase ">Confirm now<span class="lnr lnr-arrow-right"></span></button>
									</div>

									<div class="alert-msg"></div>		
								</div>
						  	</form>							
						</div>
					</div>
				</div>	
			</section>
			<!-- End reservation Area -->
			

			<!-- start footer Area -->		
		
			<!-- End footer Area -->		

			
		
    <h1 class="text-center">Todos#index</h1>
<div class="container">
  <div class="card mb-3">
    <% @todos.each do |todo|%>
    <a href="<%= todo_path(todo.id)%>">
    <img src="<%= asset_path todo.photo%>" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title"><strong><%= todo.name%></strong></h5>
      <p class="card-text"><%= todo.detail%>.</p>
      <% if current_user.todos.include? todo %>
      <p class="card-text"><small class="text-muted">Completado</small></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
 

    


















