<div class="padding"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4><b>Ya tienes Proveedor?</b></h4>
      <div class="card mb-3 border-light" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="<%= asset_path 'tengoproveedor.png' %>" class="card-img" alt="...">
         </div>
      <div class="col-md-8">
      <% if current_user.todos.include? @todo%>
        <div class="card-body">
          <h5 class="card-title">Descompletar?</h5>
          <p class="card-text"><%= link_to 'Descompletar', todo_uncompleted_path(@todo), method: :post, class: 'genric-btn info-border circle'%></p>
          <p class="card-text"><small class="text-muted">*Hint: puedes descompletar si asi lo deseas</small></p>
        </div>
        <% else %>
        <div class="card-body">
          <h5 class="card-title">Completar?</h5>
          <p class="card-text"><%= link_to 'Completar', todo_completed_path(@todo), method: :post, class: 'genric-btn primary-border circle'%></p>
          <p class="card-text"><small class="text-muted">*Hint: puedes descompletar si asi lo deseas</small></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    </div>
    <div class="col">
      <h4><b>Aún no tienes proveedor?</b></h4>
      <div class="card mb-3 border-light" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= asset_path 'notengo.png' %>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Busca un proveedor:</h5>
        <p class="card-text">
        <%= form_with(url: todo_services_path(@todo), method: 'GET', local:true) do |f|%>
              <%= f.select :region_id, @region_for_select, prompt: 'Selecciona una Región: ' %>
              <%= f.submit :buscar, class: 'genric-btn success-border circle mt-1 float-right'%> 
               <% end %> 
        </p>
        <p class="card-text"><small class="text-muted">Hint: Los proveedores seran filtrados por región</small></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div> 
</div>

           