<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="<%= asset_path 'MatriFeliz08.png' %>">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Matri Feliz</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <%# <link rel="stylesheet" href="linearicons.css">
			<link rel="stylesheet" href="font-awesome.css">
			<link rel="stylesheet" href="availability-calendar.css">
			<link rel="stylesheet" href="magnific-popup.css">
			<link rel="stylesheet" href="nice-select.css">
			<link rel="stylesheet" href="owl.carousel.css">
			<link rel="stylesheet" href="bootstrap.css">
			<link rel="stylesheet" href="main.css"> %>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	</head>

  <body>
    <%=render 'shared/navbar'%>
    <%= notice %>
    <%= alert %>

    <%= yield %> 

    	<footer class="footer-area section-gap">
				<div class="container">
					<div class="row justify-content-center">
						<div class="footer-top flex-column">
							<ul class="footer-menu">
								<li><a href="#">Inicio</a></li>
								<li><a href="#">Sobre Matri Feliz</a></li>
								<li><a href="#">Planes de suscripción</a></li>
							</ul>
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
								<a href="https://github.com/jotita28/Matri_feliz"><i class="fab fa-github"></i></a>
							</div>								
						</div>					
					</div>
					<div class="row footer-bottom justify-content-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</footer>	
  <%# <script src="jquery-2.2.4.min.js"></script> %>
	<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> %>
	<%# <script src="bootstrap.min.js"></script>
	<script src="owl.carousel.min.js"></script>
	<script src="jquery.sticky.js"></script>
	<script src="parallax.min.js"></script>
	<script src="jquery.nice-select.min.js"></script>			
	<script src="countdown.js"></script>
	<script src="jquery.magnific-popup.min.js"></script>
	<script src="main.js"></script>	 %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
